{
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining"],
    ["@babel/plugin-proposal-do-expressions"],
    ["@babel/plugin-proposal-object-rest-spread"],
    "lodash",
    "source-map-support",
    "transform-runtime"
  ],
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "8.10"
      },
      "modules": false,
      "loose": true
    }]
  ]
}

